@charset "utf-8";
/* example: css_styles.default.htm */
/* Page Last Updated */
/* Friday, March 26, 2021 4:39 AM */

body {
    background: none repeat;
}

div.main {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	}

div.fullwdth {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	}
	
div.inner {
	width: 80%;
	border: solid 1px #cc6600;
	padding: 12px;
	margin-left: auto;
	margin-right: auto;
	}
	
div.inlgbdr {
	border: solid 6px #cc6600;
	padding: 12px;
	margin-left: auto;
	margin-right: auto;
	}

div.inbdr {
	border: solid 1px #cc6600;
	padding: 12px;
	margin-left: auto;
	margin-right: auto;
	}

div.inback {
	border: solid 1px #cc6600;
	background-color: #f7ecda;
	padding: 12px;
	margin-left: auto;
	margin-right: auto;
	}

div.nobdr {
	padding: 12px;
	margin-left: auto;
	margin-right: auto;
	}

div.floatl {
  float: left;
  padding: 6px;
  }

div.floatr {
  float: right;
  padding: 6px;
  }

div.floatlpp {
	float: left;
   padding: 6px;	
   text-align: left;
	border: solid 1px #cc6600;
   }

div.floatrpp {
	float: right;
   padding: 6px;	
   text-align: left;
	border: solid 1px #cc6600;
   }
   
div.translit {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font: 10pt/12pt "Times", "Times New Roman", serif;	
	border: solid 1px #cc6600;
	background-color: #f7ecda;
	padding: 6px;
	text-align: center;
	}

a:link {
   color: #000000;
   background: none repeat;
}

a:visited {
   color: #cc6600;
   background: none repeat;
}

a:hover {
   border: none;
   color: #cc6600;
   background: none repeat;
}

a.palientry {
    font-weight: bold;
    font-style: italic;
}

img {
   border: none;
   }

p {font: 1em "Times", "Times New Roman", serif;
   margin-top: 0;
   margin-bottom: 6px;
   }

.smc {
	font-variant: small-caps;
	}

.f {
   font-family: "Times", "Times New Roman", serif;
}
.ftiny {
   font: 0.25em "Times", "Times New Roman", serif;
}

.f1 {
   font: 0.667em "Times", "Times New Roman", serif;
}
.f2 {
   font: 0.833em "Times", "Times New Roman", serif;
}
.f3 {
   font: 1em "Times", "Times New Roman", serif;
}
.f4 {
   font: 1.1667em "Times", "Times New Roman", serif;
}
.f5 {
   font: 1.4em "Times", "Times New Roman", serif;
}
.f6 {
   font: 1.6em "Times", "Times New Roman", serif;
}
.f7 {
   font: 2.01em "Times", "Times New Roman", serif;
}
.f8 {
   font: 2.42em "Times", "Times New Roman", serif;
}

.mozp {
   font-family: "Times", "Times New Roman", serif;
   }

.fp1 {
   font: 8pt/10pt "Times", "Times New Roman", serif;
}
.fp2 {
   font: 10pt/12pt "Times", "Times New Roman", serif;
}
.fp3 {
   font: 12pt/14pt "Times", "Times New Roman", serif;
}
.fp4 {
   font: 14pt/16pt "Times", "Times New Roman", serif;
}
.fp5 {
   font: 18pt/24pt "Times", "Times New Roman", serif;
}
.fp6 {
   font: 24pt/32pt "Times", "Times New Roman", serif;
}
.fp7 {
   font: 36pt/48pt "Times", "Times New Roman", serif;
}
.fp8 {
   font: 72pt/80pt "Times", "Times New Roman", serif;
}

.apct {
   font-family: "AmericanPictogram", "Times", serif;
   }
   
.apict4 {
   font: 14pt/16pt "AmericanPictogram", "Times", "Times New Roman", serif;
}
.apict5 {
   font: 18pt/24pt "AmericanPictogram", "Times", "Times New Roman", serif;
}
.apict6 {
   font: 24pt/32pt "AmericanPictogram", "Times", "Times New Roman", serif;
}
.apict7 {
   font: 36pt/48pt "AmericanPictogram", "Times", "Times New Roman", serif;
}
.apict8 {
   font: 72pt/80pt "AmericanPictogram", "Times", "Times New Roman", serif;
}

.spi {
   font-family: "SPIonic", "Times", serif;
   }
 
p.lgqt {
   margin-left: +36px;
   margin-top: 0;
   margin-bottom: 6px;
   margin-right: +36px;
   font: em "Times", "Times New Roman", serif;
   }

.ctr {
   text-align: center;
   }
.rt {
   text-align: right;
}
.left {
   text-align: left;
}
.just {
   text-align: justify;
}
.in1 {
   margin-left: 24px;
   }
.in2 {
   margin-left: 48px;
   }
.in3 {
   margin-left: 72px;
   }
.in4 {
   margin-left: 96px;
   }
.in5 {
   margin-left: 120px;
   }
.in6 {
   margin-left: 144px;
   }
.in10 {
   margin-left: 240px;
   }

h1 {
   text-align: center;
   font: bold 2em "Times", "Times New Roman", serif;
   color: #cc6600;
   background: none repeat;
   }

h2 {
   text-align: center;
   font: bold 2em "Times", "Times New Roman", serif;
   }

h3 {
   font: bold 18pt/24pt "Times", "Times New Roman", serif;
   background: none repeat;
   }

h4 {
   font: bold 1.1667em "Times", "Times New Roman", serif;
   background: none repeat;
   }

h5 {
   font-size: 12pt;
   font-family: "Times", "Times New Roman", serif;
   font-weight: bold;
   background: none repeat;
   }

h6 {
   font-size: 12pt;
   font-family: "Times", "Times New Roman", serif;
   font-style: italic;
   font-weight: bold;
   background: none repeat;
   }

.c {
   color: #cc6600;
   background: none repeat;
}

.g {
   color: green;
   background: none repeat;
}

.r {
   color: red;
   background: none repeat;
}

.bc {
   color: #f7e6ce;
   background: none repeat;
}

.gray {
   color: #cccccc;
   background: none repeat;
}

hr {
   text-align: center;
   width: 100%;
   height: 1px;
   color: #cc6600;
   background: none repeat;
   }

hr.demi {
   text-align: left;
   width: 25%;
   height: 1px;
   color: #cc6600;
   background: none repeat;
}
	
.hrctr {
	width: 25%;
	margin-left: auto;
	margin-right: auto;
   color: #cc6600;
   background: none repeat;
	}

table {
	margin-top: 12px;
	margin-bottom: 12px;
	margin-left: auto;
	margin-right: auto;
   text-align: left;
   vertical-align: middle;
   border-spacing: 0px;
   padding: 6px;
   }

.wpx6 {width: 6px;}
.wpx12 {width: 12px;} 
.wpx20 {width: 20px;}
.wpx45 {width: 45px;}
.wpx50 {width: 50px;}
.wpx55 {width: 55px;}
.wpx60 {width: 60px;}
.wpx70 {width: 70px;}
.wpx75 {width: 75px;}
.wpx80 {width: 80px;}
.wpx85 {width: 85px;}
.wpx95 {width: 95px;}
.wpx98 {width: 98px;}
.wpx100 {width: 100px;}
.wpx110 {width: 110px;}
.wpx120 {width: 120px;}
.wpx125 {width: 125px;}
.wpx135 {width: 135px;}
.wpx145 {width: 145px;}
.wpx146 {width: 146px;}
.wpx150 {width: 150px;}
.wpx155 {width: 155px;}
.wpx175 {width: 175px;}
.wpx180 {width: 180px;}
.wpx200 {width: 200px;}
.wpx201 {width: 201px;}
.wpx210 {width: 210px;}
.wpx240 {width: 240px;}
.wpx250 {width: 250px;}
.wpx258 {width: 258px;}
.wpx300 {width: 300px;}
.wpx308 {width: 308px;}
.wpx312 {width: 312px;}
.wpx320 {width: 320px;}
.wpx347 {width: 347px;}
.wpx350 {width: 350px;}
.wpx360 {width: 360px;}
.wpx370 {width: 370px;}
.wpx375 {width: 375px;}
.wpx385 {width: 385px;}
.wpx395 {width: 395px;}
.wpx408 {width: 408px;}
.wpx450 {width: 450px;}
.wpx475 {width: 475px;}
.wpx488 {width: 488px;}
.wpx512 {width: 512px;}
.wpx572 {width: 572px;}
.wpx585 {width: 585px;}
.wpx600 {width: 600px;}

.hpx480 {height: 480px;}
.hpx468 {height: 468px;}
.hpx220 {height: 220px;}
.hpx232 {height: 232px;}
.hpx250 {height: 250px;}
.hpx262 {height: 262px;}
.hpx310 {height: 310px;}
.hpx322 {height: 322px;}
.hpx360 {height: 360px;}
.hpx372 {height: 372px;}

.wpc2 {width: 2%;}
.wpc4 {width: 4%;}
.wpc5 {width: 5%;}
.wpc8 {width: 8%;}
.wpc9 {width: 9%;}
.wpc10 {width: 10%;}
.wpc13 {width: 13%;}
.wpc15 {width: 15%;}
.wpc17 {width: 17%;}
.wpc20 {width: 20%;}
.wpc27 {width: 27%;}
.wpc30 {width: 30%;}
.wpc40 {width: 40%;}
.wpc43 {width: 43%;}
.wpc46 {width: 46%;}
.wpc48 {width: 48%;}
.wpc50 {width: 50%;}
.wpc56 {width: 56%;}
.wpc51 {width: 51%;}
.wpc57 {width: 57%;}
.wpc60 {width: 60%;}
.wpc70 {width: 70%;}
.wpc75 {width: 75%;}
.wpc80 {width: 80%;}
.wpc82 {width: 82%;}
.wpc85 {width: 85%;}
.wpc90 {width: 90%;}
.wpc94 {width: 94%;}
.wpc95 {width: 95%;}
.wpc100 {width: 100%;}

.pad6 {padding: 6px;}
.pad12 {padding: 12px;}

   
.dash {border-style: dashed; border-color: #CC6600;}   
   
td { padding: 6px; }

.marl6 {margin-left: 6px}

.mart6 {margin-right: 6px}

.martop6 {margin-top: 6px}

.marlf6 {margin-bottom: 6px}

.valt { vertical-align: top; } 
.valm { vertical-align: middle; } 
.valb { vertical-align: bottom; }

table.dbdr { border:#cc6600 solid 1px; }

tr.dbdr { border: #cc6600 solid 1px; }

th.dbdr {
   background: none repeat;
   border: #cc6600 solid 1px;
}

td.dbdr {
   background: none repeat;
   border: #cc6600 solid 1px;
}

table.ltb {
   border:#cc6600 solid 1px;
}

tr.ltb {
   background: #f7e6ce;
   border: #cc6600 solid 1px;
}

th.ltb {
   background: #f7e6ce;
   border: #cc6600 solid 1px;
}
td.ltb {
   background: #f7e6ce;
   border: #cc6600 solid 1px;
}

table.ltbdr {
	background: none repeat;
   border: #f7e6ce solid 1px;
}

tr.ltbdr {
   background: none repeat;
   border: #f7e6ce solid 1px;
}

th.ltbdr {
   background: none repeat;
   border: #f7e6ce solid 1px;
}

td.ltbdr {
   background: none repeat;
   border: #f7e6ce solid 1px;
}

td.nbdltbg {
   background: #f7e6ce;
}

table.cvp {
   border-collapse: collapse;
   border: 1px solid #cc6600;
   background: #f7e6ce;
   empty-cells: show;
   }

table.cvp caption {
   text-align: left;
   font: bold 14pt/18pt "Times", "Times New Roman", serif;
   color: #cc6600;
   background: none repeat;
   caption-side: top;
   }

table.cvp th, table.cvp td {
   padding: 4px;
   border: 1px solid #cc6600;
   }

table.cvp th {
   text-align: center;
   font-weight: bold;
   color: #cc6600;
   background: #f7e6ce;
   vertical-align: middle;
   }

table.cvp td {
   text-align: left;
   vertical-align: middle;
   }

	
